@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #5894d6;
$background_1: #dedede;
$background_2: #cccccc;
$border: #5d5d5d;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top_0 {
	.moduletable_to1 {
		padding: 10px 0;
	}
}

.top_1 {
	/*padding: 10px 0;*/
	background-color: $background_1;
	.moduletable_to11 {
		p {
			margin: 0;
		}
		#a {
			img {
				padding: 0 10px;
			}
			a {
				color: $primary_color;
			}
		}
		#b {
			a {
				padding: 0 10px;
				display: inline-block;
				&:first-child {
					border-right: 1px solid $border;
				}
			}
		}
		#c {
			.searchform {
				label {
					width: 22px;
					height: 22px;
					background: {
						image: url(icon_glass.png);
						position: center;
						repeat: no-repeat;
					}
					font-size: 0;
					float: left;
					position: relative;
				}
				[type=text] {
					width: 180px;
					height: inherit;
					margin: 0;
					padding: 1px;
					border-color: $secondary_color;
					border-radius: 0;
					font-size: 12px;
					float: left;
					position: relative;
				}
				[type=submit] {
					display: none;
				}
			}
		}
	}
	.moduletable_conm1 {
		padding-top: 10px;
		a.button {
			margin: 0;
			background-color: $secondary_color;
			border-radius: 0;
			display: block;
		}
	}
}

.top_2 {
	padding: 10px 0;
	.moduletable_to21 {
		p {
			margin: 0;
		}
	}
}

.f-nav {
	width: 100%;
	top: 0;
	background-color: #fff;
	position: fixed;
	z-index: 9999;
}

.top {
	background-color: $secondary_color;
	.moduletable_to2 {
		.mega-menu-wrap {
			ul.mega-menu {
				li {
					&.mega-menu-item-10 {
						width: 162px !important;
						max-height: 48px;
						margin-top: -126px !important;
						a {
							width: 162px !important;
							height: 120px !important;
							background: {
								color:  #fff !important;
								image: url(logo.svg) !important;
								position: center !important;
								repeat: no-repeat !important;
							}
							-webkit-border-bottom-right-radius: 10px !important;
							-webkit-border-bottom-left-radius: 10px !important;
							-moz-border-radius-bottomright: 10px !important;
							-moz-border-radius-bottomleft: 10px !important;
							border-bottom-right-radius: 10px !important;
							border-bottom-left-radius: 10px !important;
							color: transparent !important;
							position: absolute !important;
							z-index: 10;
						}
					}
				}
			}
		}
	}
	.moduletable_to3 {
		max-height: 48px;
		padding: 10px 0;
		position: relative;
		z-index: 10;
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {}
}

/* Content */

.content {
	padding: 30px 0;
	h1 {
		margin-bottom: 0;
		padding-bottom: 10px;
		background: {
			image: url(h3_bg.png);
			position: bottom;
			repeat: no-repeat;
		}
		font: {
			family: 'Roboto', sans-serif;
			size: 20px;
			font-weight: bold;
		}
	}
	h2 {
		font: {
			family: 'Roboto', sans-serif;
			size: 20px;
			font-weight: bold;
		}
	}
	.asterisk {
		color: red;
	}
	a {
		&.button {
			border-radius: 0;
			&.hollow {
				border-color: $secondary_color;
				color: $secondary_color;
			}
		}
		&.click {
			width: 356px;
			height: 109px;
			margin: auto;
			background: {
				image: url(click.png);
				position: center;
				repeat: no-repeat;
			}
			color: transparent;
			display: block;
			&:hover {
				background-image: url(click_bg.png);
			}
		}
	}
	input {
		border-radius: 0;
		&::placeholder {
			color: $primary_color;
			text-transform: uppercase;
		}
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
			text-transform: uppercase;
			&.hollow {
				background-color: transparent;
				border-color: $secondary_color;
				color: $secondary_color;
			}
		}
	}
	textarea {
		border-radius: 0;
		&::placeholder {
			color: $primary_color;
			text-transform: uppercase;
		}
	}
	table {
		tbody {
			tr {
				th {
					background-color: $secondary_color;
					color: #fff;
				}
				td {
					p {
						margin: 0;
					}
				}
			}
		}
	}
	.blue {
		color: $secondary_color;
	}
	/*.box {
		padding: 20px 0;
		border-top: 1px solid $border;
		&:last-child {
			border-bottom: 1px solid $border;
		}
		p {
			margin: 0;
			img {
				&:hover {
					-webkit-animation: shake 1s;
					animation: shake 1s;
				}
			}
			.text_1 {
				font: {
					family: 'Roboto', sans-serif;
					size: 20px;
				}
			}
			.text_2 {
				font: {
					family: 'Roboto', sans-serif;
					size: 14px;
				}
			}
			.text_3 {
				padding-bottom: 20px;
				font: {
					family: 'Roboto', sans-serif;
					size: 14px;
				}
				display: block;
			}
		}
		a {
			color: $primary_color;
		}
	}*/
	.box {
		ul {
			margin: 0;
			list-style: none;
			display: flex;
			flex-direction: column;
			li {
				padding: 10px 0;
				border-top: 1px solid $border;
				&:last-child {
					border-bottom: 1px solid $border;
				}
				flex-grow: 1;
				p {
					margin: 0;
					img {
						&:hover {
							-webkit-animation: shake 1s;
							animation: shake 1s;
						}
					}
					.text_1 {
						font: {
							family: 'Roboto', sans-serif;
							size: 16px;
						}
					}
				}
				a {
					color: $primary_color;
				}
			}
		}
	}
	&.full-width {
		.max {
			max-width: 1000px;
			margin: auto;
		}
	}
}

/* Block 1 */

.block_1 {
	.moduletable_b11 {
		#a {
			padding: 20px 0;
			background-color: $secondary_color;
			h3 {
				margin: 0;
				font: {
					family: 'Roboto', sans-serif;
					size: 24px;
				}
				color: #fff;
			}
		}
		#b,
		#c,
		#d,
		#e {
			padding: 50px 0;
			p {
				margin: 0;
				img {
					&:hover {
						-webkit-animation: shake 1s;
						animation: shake 1s;
					}
				}
				.text_1 {
					font: {
						family: 'Roboto', sans-serif;
						size: 20px;
					}
				}
				.text_2 {
					font: {
						family: 'Roboto', sans-serif;
						size: 14px;
					}
				}
				.text_3 {
					padding-bottom: 20px;
					font: {
						family: 'Roboto', sans-serif;
						size: 14px;
					}
					display: block;
				}
			}
			a {
				color: $primary_color;
			}
		}
		#b,
		#d {
			background-color: $background_1;
		}
		#c,
		#e {
			background-color: $background_2;
		}
		#e {
			padding: 67px 0;
			a {
				margin: 0 20px;
				display: inline-block;
			}
		}
		.box {
			ul {
				margin: 0;
				list-style: none;
				display: flex;
				li {
					padding: 50px 0;
					flex-grow: 1;
					&:nth-child(odd) {
						background: #dedede;
					}
					&:nth-child(even) {
						background: #ccc;
					}
					p {
						margin: 0;
						img {
							&:hover {
								-webkit-animation: shake 1s;
								animation: shake 1s;
							}
						}
						.text_1 {
							font: {
								family: 'Roboto', sans-serif;
								size: 20px;
							}
						}
					}
					a {
						color: $primary_color;
					}
				}
			}
		}
	}
}

/* Block 2 */

.block_2 {
	padding: 30px 0;
	.moduletable_b21 {
		.so-panel {
			margin-bottom: 0 !important;
		}
		#a {}
		#b {
			background-color: $background_1;
			p {
				margin: 0;
				.text_1 {
					font: {
						family: 'Roboto', sans-serif;
						size: 20px;
					}
				}
				.text_2 {
					font: {
						family: 'Roboto', sans-serif;
						size: 14px;
					}
				}
			}
		}
		#c {}
	}
}

/* Block 3 */

.block_3 {
	padding-bottom: 30px;
	.moduletable_b31 {
		.so-panel {
			margin-bottom: 0 !important;
		}
		h3 {
			margin-bottom: 0;
			padding-bottom: 10px;
			background: {
				image: url(h3_bg.png);
				position: bottom;
				repeat: no-repeat;
			}
			font: {
				family: 'Roboto', sans-serif;
				size: 20px;
				font-weight: bold;
			}
		}
		img {
			&:hover {
				-webkit-animation: pulse 1s;
				animation: pulse 1s;
			}
		}
	}
}

/* Block 4 */

.block_4 {
	padding-bottom: 30px;
	.moduletable_b41 {
		h3 {
			margin-bottom: 0;
			padding-bottom: 10px;
			background: {
				image: url(h3_bg.png);
				position: bottom;
				repeat: no-repeat;
			}
			font: {
				family: 'Roboto', sans-serif;
				size: 20px;
				font-weight: bold;
			}
		}
		#a {
			iframe {
				border: 0;
			}
		}
		#b {
			padding: 87px 40px 86px;
			background-color: $background_2;
			h4 {
				font: {
					family: 'Roboto', sans-serif;
					size: 20px;
					font-weight: bold;
				}
			}
			a {
				color: $primary_color;
			}
		}
	}
}

/* Bottom */

.bottom {
	padding-bottom: 30px;
	.moduletable_bo1 {
		h4 {
			margin-bottom: 0;
			font: {
				family: 'Roboto', sans-serif;
				size: 14px;
			}
			color: $secondary_color;
		}
		ul {
			margin: 0;
			li {
				list-style: none;
				a {
					color: $primary_color;
				}
			}
		}
	}
}

/* Copyright */

.copyright {
	padding: 10px 0;
	background-color: $secondary_color;
	color: #fff;
	a {
		color: #fff;
	}
}

/* Proceso de Admisión */

.moduletable_pda1 {
	padding: 5px;
	top: 20%;
	right: 0;
	background-color: $secondary_color;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	position: fixed;
	a.button {
		min-width: 100px;
		height: inherit;
		margin: 0;
		padding: 5px;
		background-color: transparent;
		font-size: 12px;
		color: #fff;
		line-height: inherit;
		text-transform: uppercase;
	}
}

/* Contáctenos */

.moduletable_con1 {
	padding: 5px;
	top: 30%;
	right: 0;
	background-color: $secondary_color;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	position: fixed;
	a.button {
		min-width: 100px;
		height: inherit;
		margin: 0;
		padding: 5px;
		background-color: transparent;
		font-size: 12px;
		color: #fff;
		line-height: inherit;
		text-transform: uppercase;
	}
}

/* Photo Gallery */

.mCSB_container {
	.bwg_image_title {
		color: $secondary_color !important;
	}
	.bwg_image_description {
		color: $primary_color !important;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top_1 {
		.moduletable_to11 {
			.panel-grid-cell {
				margin: 0 !important;
			}
			#a {
				text-align: center;
				img {
					padding: 0 5px;
				}
			}
			#b,
			#c {
				display: none;
			}
		}
	}

	.top_2 {
		.moduletable_to21 {
			#c {
				display: none;
			}
		}
	}

	.f-nav {
		position: relative;
	}

	.top {
		.moduletable_to2 {
			.mega-menu-wrap {
				ul.mega-menu {
					li {
						&.mega-menu-item-10 {
							display: none !important;
						}
					}
				}
			}
		}
		.moduletable_to3 {
			display: none;
		}
	}

	/* Block 1 */

	.block_1 {
		.moduletable_b11 {
			.box {
				ul {
					flex-direction: column;
					li {
						padding: 20px 0;
					}
				}
			}
		}
	}

	/* Block 4 */

	.block_4 {
		.moduletable_b41 {
			#b {
				padding: 15px;
			}
		}
	}

	/* Bottom */

	.bottom {
		.moduletable_bo1 {
			#b {
				.panel-grid-cell {
					margin: 0;
				}
				text-align: center;
			}
		}
	}

	/* Proceso de Admisión */

	.moduletable_pda1 {
		/*border-radius: 10px;
		position: inherit;
		a.button {
			padding: 2px;
			font-size: 10px;
		}*/
		display: none;
	}

	/* Contáctenos */

	.moduletable_con1 {
		/*position: inherit;*/
		display: none;
	}

	/* Top */

	.top_3 {
		padding-bottom: 10px;
		.row {
			.columns {
				padding: 0 5px;
				.moduletable_pda1,
				.moduletable_con1 {
					border-radius: 0;
					text-align: center;
					display: inherit;
					position: inherit;
					a {
						padding: 0;
					}
				}
			}
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}